*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(108, 68, 145);
    line-height: 1.5;
}
header{
    text-align: center;
    color: white;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
main{
    background-color: white;
    text-align: center;

}
footer{
    text-align: center;
    color: white;
}
.item{
    border: 2px solid whitesmoke;
    color: aliceblue;
    background-color: lightgray;
}
.tombol{
    background-color: rgb(51, 255, 99);
    border: 2px solid black;
}
footer a{
    text-decoration: none;
    color: white;
    padding-inline: 10px;
}