*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.5;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
    
}
header{
    background-color: rgb(165, 91, 186);
    color: white;
}
main{
    background-color: rgb(99, 255, 255);
}
footer{
    background-color: aliceblue;
}
.bok{
    display: flex;
    border: 2px solid rgb(99, 99, 99);
    gap: 15px;
    background-color: white;
}
a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}
.tengah{
    text-align: center;

}
.logo{
    padding: 10px;
    border-radius: 10px;
}